[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BrazilCrime"]
	path = BrazilCrime
	url = https://github.com/igorlaltuf/brazilcrime
[submodule "bndesr"]
	path = bndesr
	url = https://github.com/igorlaltuf/bndesr
[submodule "dail"]
	path = dail
	url = https://github.com/igorlaltuf/dail
[submodule "ispdata"]
	path = ispdata
	url = https://github.com/igorlaltuf/ispdata
